
    table{
        overflow-y: auto; 
        max-width: 1200px;
    }

    .pagination {
        cursor: pointer;
    }

    .display {
        display: block;
    }

    .pointer {
        cursor: pointer;
    }