<div class="row">
  <div class="col-6">
      <div class="card m-4" style="width: 18rem; min-height: 450px;">
        <img class="card-img-top" src="assets/img/dataset.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data set</h5>
          <p class="card-text">Upload, delete and edit original data set</p>
          <a href="/dataset" class="btn btn-primary">Start</a>
        </div>
      </div>
  </div>
  <div class="col-6">
    <div class="card m-4" style="width: 18rem; min-height: 450px;">
      <img class="card-img-top" src="assets/img/modify_dataset.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">modifying the data</h5>
        <p class="card-text">Crate, Delete, sharing and repair data</p>
        <a href="/dataset_display/datasets" class="btn btn-primary">Start</a>
      </div>
    </div>
</div>
</div>
